<h1>New post</h1>
<form method="post" action="/posts">
<input type="text" name="title" id="title">
<input type="text" name="description" id="description">
<input type="submit" id="submit" name="submit">
</form>